In [52]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('./datasets/tabla-alimentos_bruto.csv')

In [53]:
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

# Mostrar las primeras filas del dataframe para entender su estructura
display(df.head())

,ID,CODIGO,PAIS,ALIMENTO,TIPO,CEPA,PARTE,PROCESO,GRADO,MENSAJE,GENERO,ESPECIE,VARIEDAD,NOMBRE_ALT,NOMBRE_COMERCIAL,REFERENCIA,NOMBRE_CORTO,WATER,PROCNT,XN,FAT,ASH,FIBTG,CHOCDF,CHOAVL,ENERC,ENERC_KJ,FASAT,FAMS,FAPU,CHOLE,NA,K,CA,P,FE,ZN,VITA,CARTBEQ,THIA,RIBF,NIA,VITC
0,1,A001,Perú,Achita,NaN,NaN,NaN,cruda,NaN,NaN,Amaranthus,caudatus,NaN,"Achis, Kiwita",NaN,NaN,"Achita, cruda",12,"13,5",NaN,"7,1","2,4",NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236,453,"7,5",NaN,NaN,NaN,"0,3","0,01","0,4","1,3"
1,2,A002,Perú,Achita,NaN,NaN,NaN,tostada,NaN,NaN,Amaranthus,caudatus,NaN,"Achis, Kiwita",NaN,NaN,"Achita, tostada","0,7","14,5",NaN,"7,8","2,7",NaN,"74,3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283,502,"8,1",NaN,NaN,NaN,"0,01","0,01","1,3","0,5"
2,3,A003,Bolivia,Trigo,afrechillo,NaN,semilla y cáscara,NaN,NaN,NaN,Triticum,aestivum,NaN,NaN,NaN,NaN,"Afrechillo, de trigo","6,9","11,3",NaN,"3,6","5,1",NaN,"73,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,728,"19,5",NaN,6,NaN,"0,36","0,88","8,69",0
3,4,A004,Ecuador,Cebada,afrecho,NaN,NaN,NaN,NaN,NaN,Hordeum,sativum,NaN,NaN,NaN,13,"Afrecho, de cebada",7,NaN,NaN,"6,7","4,3","22,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,A005,Perú,Quinoa,afrecho,NaN,NaN,NaN,NaN,NaN,Chenopodium,quinoa,Wild,NaN,NaN,NaN,"Afrecho, de quinua","14,1","10,7",NaN,"4,5","4,8",NaN,"65,9",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,573,342,4,NaN,NaN,NaN,"0,21","0,22",1,NaN

In [54]:
# Eliminar las filas que contengan "Brasil" como país
df_proc_1 = df[df['PAIS'] != 'Brasil']

In [55]:
# Eliminar columnas no que no sirven para el proyecto
columnas_a_eliminar = ["CODIGO", 
                       "GRADO", 
                       "MENSAJE",
                       "GENERO",
                       "ESPECIE",
                       "VARIEDAD",
                       "NOMBRE_ALT",
                       "NOMBRE_COMERCIAL",
                       "REFERENCIA",
                       "NOMBRE_CORTO",
                       "XN",
                       "ASH"
                       ]  # reemplaza con los nombres de las columnas que quieras eliminar
df_proc_2 = df_proc_1.drop(columns=columnas_a_eliminar)

In [56]:
# Mostrar las primeras filas del dataframe para entender su estructura
display(df_proc_2.head())

,ID,PAIS,ALIMENTO,TIPO,CEPA,PARTE,PROCESO,WATER,PROCNT,FAT,FIBTG,CHOCDF,CHOAVL,ENERC,ENERC_KJ,FASAT,FAMS,FAPU,CHOLE,NA,K,CA,P,FE,ZN,VITA,CARTBEQ,THIA,RIBF,NIA,VITC
0,1,Perú,Achita,NaN,NaN,NaN,cruda,12,"13,5","7,1",NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236,453,"7,5",NaN,NaN,NaN,"0,3","0,01","0,4","1,3"
1,2,Perú,Achita,NaN,NaN,NaN,tostada,"0,7","14,5","7,8",NaN,"74,3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283,502,"8,1",NaN,NaN,NaN,"0,01","0,01","1,3","0,5"
2,3,Bolivia,Trigo,afrechillo,NaN,semilla y cáscara,NaN,"6,9","11,3","3,6",NaN,"73,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,728,"19,5",NaN,6,NaN,"0,36","0,88","8,69",0
3,4,Ecuador,Cebada,afrecho,NaN,NaN,NaN,7,NaN,"6,7","22,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Perú,Quinoa,afrecho,NaN,NaN,NaN,"14,1","10,7","4,5",NaN,"65,9",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,573,342,4,NaN,NaN,NaN,"0,21","0,22",1,NaN

In [63]:
# Convertir todas las columnas a cadenas y reemplazar NaN con una cadena vacía
columns_to_combine = ['ALIMENTO', 'TIPO', 'CEPA', 'PARTE', 'PROCESO']
df_proc_2[columns_to_combine] = df_proc_2[columns_to_combine].fillna('').astype(str)

# Función para unir columnas eliminando palabras repetidas
def join_unique_words(row):
    words = ' '.join(row).split()
    return ' '.join(pd.unique(words))

# Unir las columnas 'ALIMENTO', 'TIPO', 'CEPA', 'PARTE', 'PROCESO' en una sola columna llamada 'ALIMENTO_COMPLETO'
df_proc_2['FOOD'] = df_proc_2[columns_to_combine].apply(join_unique_words, axis=1)

# Eliminar las columnas originales que fueron unidas
df_proc_3 = df_proc_2.drop(columns=['ID', 'ALIMENTO', 'TIPO', 'CEPA', 'PARTE', 'PROCESO', 'PAIS'])

# Reordenar las columnas para que 'ALIMENTO_COMPLETO' sea la primera columna
columns = ['FOOD'] + [col for col in df_proc_3.columns if col != 'FOOD']
df_proc_3 = df_proc_3[columns]

# Mostrar el DataFrame con la nueva columna
display(df_proc_3.head())

C:\Users\gabse\AppData\Local\Temp\ipykernel_16232\962307036.py:8: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  return ' '.join(pd.unique(words))

,FOOD,WATER,PROCNT,FAT,FIBTG,CHOCDF,CHOAVL,ENERC,ENERC_KJ,FASAT,FAMS,FAPU,CHOLE,NA,K,CA,P,FE,ZN,VITA,CARTBEQ,THIA,RIBF,NIA,VITC
0,Achita cruda,12,"13,5","7,1",NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236,453,"7,5",NaN,NaN,NaN,"0,3","0,01","0,4","1,3"
1,Achita tostada,"0,7","14,5","7,8",NaN,"74,3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283,502,"8,1",NaN,NaN,NaN,"0,01","0,01","1,3","0,5"
2,Trigo afrechillo semilla y cáscara,"6,9","11,3","3,6",NaN,"73,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,728,"19,5",NaN,6,NaN,"0,36","0,88","8,69",0
3,Cebada afrecho,7,NaN,"6,7","22,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Quinoa afrecho,"14,1","10,7","4,5",NaN,"65,9",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,573,342,4,NaN,NaN,NaN,"0,21","0,22",1,NaN

In [64]:
# Eliminar las columnas originales que fueron unidas
df_proc_3 = df_proc_3.drop(columns=['ENERC_KJ'])

df_proc_3 = df_proc_3.drop_duplicates(subset='FOOD')
df_proc_3 = df_proc_3.reset_index(drop=True)
df_proc_3 = df_proc_3.fillna(0)

display(df_proc_3.head())

,FOOD,WATER,PROCNT,FAT,FIBTG,CHOCDF,CHOAVL,ENERC,FASAT,FAMS,FAPU,CHOLE,NA,K,CA,P,FE,ZN,VITA,CARTBEQ,THIA,RIBF,NIA,VITC
0,Achita cruda,12,"13,5","7,1",0,65,0,0,0,0,0,0,0,0,236,453,"7,5",0,0,0,"0,3","0,01","0,4","1,3"
1,Achita tostada,"0,7","14,5","7,8",0,"74,3",0,0,0,0,0,0,0,0,283,502,"8,1",0,0,0,"0,01","0,01","1,3","0,5"
2,Trigo afrechillo semilla y cáscara,"6,9","11,3","3,6",0,"73,1",0,0,0,0,0,0,0,0,171,728,"19,5",0,6,0,"0,36","0,88","8,69",0
3,Cebada afrecho,7,0,"6,7","22,1",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Quinoa afrecho,"14,1","10,7","4,5",0,"65,9",0,0,0,0,0,0,0,0,573,342,4,0,0,0,"0,21","0,22",1,0

In [65]:
df_proc_3 = df_proc_3.rename(columns={
   'WATER': 'water',
   'FOOD': 'food_name',
   'PROCNT': 'protein',
   'FAT': 'fat',
   'FIBTG': 'fiber',
   'CHOCDF': 'total_carbs',
   'CHOAVL': 'available_carbs',
   'ENERC': 'calories',
   'ENERC_KJ': 'calories_kj',
   'FASAT': 'saturated_fat',
   'FAMS': 'monounsaturated_fat',
   'FAPU': 'polyunsaturated_fat',
   'CHOLE': 'cholesterol',
   'NA': 'sodium',
   'K': 'potassium',
   'CA': 'calcium',
   'P': 'phosphorus',
   'FE': 'iron',
   'ZN': 'zinc',
   'VITA': 'vitamin_a',
   'CARTBEQ': 'beta_carotene',
   'THIA': 'thiamine',
   'RIBF': 'riboflavin',
   'NIA': 'niacin',
   'VITC': 'vitamin_c'
})

display(df_proc_3.head())

,food_name,water,protein,fat,fiber,total_carbs,available_carbs,calories,saturated_fat,monounsaturated_fat,polyunsaturated_fat,cholesterol,sodium,potassium,calcium,phosphorus,iron,zinc,vitamin_a,beta_carotene,thiamine,riboflavin,niacin,vitamin_c
0,Achita cruda,12,"13,5","7,1",0,65,0,0,0,0,0,0,0,0,236,453,"7,5",0,0,0,"0,3","0,01","0,4","1,3"
1,Achita tostada,"0,7","14,5","7,8",0,"74,3",0,0,0,0,0,0,0,0,283,502,"8,1",0,0,0,"0,01","0,01","1,3","0,5"
2,Trigo afrechillo semilla y cáscara,"6,9","11,3","3,6",0,"73,1",0,0,0,0,0,0,0,0,171,728,"19,5",0,6,0,"0,36","0,88","8,69",0
3,Cebada afrecho,7,0,"6,7","22,1",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Quinoa afrecho,"14,1","10,7","4,5",0,"65,9",0,0,0,0,0,0,0,0,573,342,4,0,0,0,"0,21","0,22",1,0

In [66]:
columns_to_convert = ['water',
                      'protein',
                      'fat',
                      'fiber',
                      'total_carbs',
                      'available_carbs',
                      'calories',
                      'saturated_fat',
                      'monounsaturated_fat',
                      'polyunsaturated_fat',
                      'cholesterol',
                      'sodium',
                      'potassium',
                      'calcium',
                      'phosphorus',
                      'iron',
                      'zinc',
                      'vitamin_a',
                      'beta_carotene',
                      'thiamine',
                      'riboflavin',
                      'niacin',
                      'vitamin_c']  # reemplaza con los nombres de las columnas numéricas
for col in columns_to_convert:
    df_proc_3[col] = df_proc_3[col].str.replace(',', '.')
    df_proc_3[col] = pd.to_numeric(df_proc_3[col])
df_proc_3 = df_proc_3.fillna(0)

display(df_proc_3.head())

,food_name,water,protein,fat,fiber,total_carbs,available_carbs,calories,saturated_fat,monounsaturated_fat,polyunsaturated_fat,cholesterol,sodium,potassium,calcium,phosphorus,iron,zinc,vitamin_a,beta_carotene,thiamine,riboflavin,niacin,vitamin_c
0,Achita cruda,12.0,13.5,7.1,0.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,236.0,453.0,7.5,0.0,0.0,0.0,0.30,0.01,0.40,1.3
1,Achita tostada,0.7,14.5,7.8,0.0,74.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,283.0,502.0,8.1,0.0,0.0,0.0,0.01,0.01,1.30,0.5
2,Trigo afrechillo semilla y cáscara,6.9,11.3,3.6,0.0,73.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0,728.0,19.5,0.0,6.0,0.0,0.36,0.88,8.69,0.0
3,Cebada afrecho,7.0,0.0,6.7,22.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0
4,Quinoa afrecho,14.1,10.7,4.5,0.0,65.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573.0,342.0,4.0,0.0,0.0,0.0,0.21,0.22,1.00,0.0

In [67]:
# Guardar el DataFrame limpio en un nuevo archivo CSV
df_proc_3.to_csv('./datasets/tabla-alimentos_procesada.csv', index=False)

df_proc_3.to_json('./datasets/tabla-alimentos_procesada.json', orient='records', lines=True)